@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  /* :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  } */
  :root {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  .theme {
    --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite alternate;
    --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    /* background: #000000;  fallback for old browsers */
background: -webkit-linear-gradient(to left, #010008, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #010008, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    @apply  text-foreground;
  }
}

/* Hero section Backgrounds */

.blob {
    background: conic-gradient(from 0deg, #342eaa, #4D3685, #5b7788, #2e6e81, #0f5267, #4D3685, #64740f);
    animation: spinBlob 6s linear infinite alternate;
}

@keyframes spinBlob {
    0% {
        transform: rotate(0deg) scale(2) ;
    }

    100% {
        transform: rotate(360deg) scale(4);
    }
}

.noise-texture {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.1'/%3E%3C/svg%3E");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  @keyframes shimmer-slide {
  to {
    transform: translate(calc(100cqw - 100%), 0);
    }
  }
  @keyframes spin-around {
  0% {
    transform: translateZ(0) rotate(0);
    }
  15%, 35% {
    transform: translateZ(0) rotate(90deg);
    }
  65%, 85% {
    transform: translateZ(0) rotate(270deg);
    }
  100% {
    transform: translateZ(0) rotate(360deg);
    }
  }
}








/* Case Studies */
.purple-radial-bg {
  background: radial-gradient(
    circle at 50% 50%,
    rgba(129, 94, 243, 0.475),
    rgba(48, 26, 107, 0.1),
    transparent 100%
  );
  filter: blur(10px);
  opacity: 0.6;
}



.blue-radial-bg {
  background: radial-gradient(
    circle at 50% 50%,
    #016a2079,
    rgba(0, 28, 4, 0.1),
    transparent 100%
  );
  filter: blur(10px);
  opacity: 0.6;
}

.green-radial-bg {
  background: radial-gradient(
    circle at 50% 50%,
    #84e0cc89,
    #0707001e,
    transparent 100%
  );
  filter: blur(20px);
  opacity: 0.6;
}

.red-radial-bg {
  background: radial-gradient(
    circle at 50% 50%,
    #04589489,
    rgba(48, 26, 107, 0.1),
    transparent 100%
  );
  filter: blur(10px);
  opacity: 0.6;
}



/* CTA Footer */
@keyframes beamEffect {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-beam-effect {
  background: linear-gradient(90deg, transparent, #38bdf8, transparent);
  background-size: 200% 100%;
  animation: beamEffect 4s linear infinite;
  filter: blur(12px);
  box-shadow: 0 0 30px 10px #38bdf8;
  mask-image: radial-gradient(circle, white 30%, transparent 70%);
  -webkit-mask-image: radial-gradient(circle, white 30%, transparent 70%);
}